<div class="play_page">
  <video class="player" src=<%= @youkuVideoUrl %> poster=<%= @result["bigThumbnail"]?@result["bigThumbnail"]:@failedImg %> playsinline controls="controls">
    您的浏览器不支持播放！
  </video>

  <div class="player_info">
    <div class="player_info_title">
      <%= @result["title"] %>
    </div>
    <div class="player_info_subtitle">
      播放量：<%= view_count_format(@result["view_count"]) %>
    </div>
    <div class="player_info_description">
      <%= @result["description"] %>
    </div>

  	<div class="player_up">
    	<div class="player_up_head">
     	 <%= image_tag @user["data"]["avatar"]["large"] %>
   	 </div>
     <div>
       <p class="player_up_name">
         <%= @user["data"]["nickname"] %>
       </p>
       <p class="player_up_posttime">
         <%= @result["created"] %>
       </p>
      </div>
    </div>

  <div class="player_recommend">
    <div class="player_recommend_text">
      相关推荐
    </div>

    <table class="player_recommend_table">
      <% @videos.each do |video| %>
      <tr>
        <td><%= image_tag video["thumburl"] %></td>
        <td>
          <p>
            <%= link_to video["title"],  youku_path(video["videoid"]) %>
          </p>
          <p class="player_recommend_table_count">
            <%= view_count_format(video["total_vv"]) %>
            &nbsp
            <%= video["createtime"] %>
          </P>
        </td>
      </tr>
      <% end %>
    </table>

  </div>
</div>
