<div class="youku">
  <video class="ykPlayer" src=<%= @youkuVideoUrl %> poster=<%= @result["bigThumbnail"]?@result["bigThumbnail"]:@failedImg %> playsinline controls="controls">
    您的浏览器不支持播放！
  </video>

  <div class="ykInfo">
    <div class="ykTitle">
      <%= @result["title"] %>
    </div>
    <div class="ykCount">
      播放量：<%= @result["view_count"].to_f >= 10000 ? format("%.1f万", @result["view_count"]/10000) : @result["view_count"] %>
    </div>
    <div class="ykDesc">
      <%= @result["description"] %>
    </div>


  	<div class="ykUp">
    	<div class="ykHead">
     	 <%= image_tag @user["data"]["avatar"]["large"] %>
   	 </div>
    <div>
      <p class="ykUpName">
        <%= @user["data"]["nickname"] %>
      </p>
      <p class="ykPost">
        <%= @result["created"] %>
      </p>
    </div>
  </div>

  <div class="ykRecommend">
    相关推荐
  </div>

  <div class="listView">
    <table>
      <% @videos.each do |video| %>
      <tr>
        <td><%= image_tag video["thumburl"] %></td>
        <td>
          <p>
            <%= link_to video["title"],  youku_path(video["videoid"]) %>
          </p>
          <p class="videoVV">
            <%= video["total_vv"].to_f >= 10000 ? format("%.1f万", video["total_vv"]/10000) : video["total_vv"] %>
            &nbsp
            <%= video["createtime"] %>
          </P>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
  </div>

</div>
